.chatbox {
  padding: 1em;
  overflow-y: scroll !important; 
  resize: none;
  height: 550px;
  width : 425px;
  border: 15px rgb(31, 29, 29) solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.sizing{
  font-size:20px;
}
/* .chatbox{
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  resize:none;
  overflow-y: scroll !important;
} */
/* .chatbox:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
} */



.reply {
  float: left;
  margin: 0.3em 40% 0.3em 0;
  white-space: pre-wrap;
  padding: 0.5em;
  background: #e6e7e8;
  border-radius: 0.5em;
}

.message {
  float: right;
  margin: 0.3em 0 0.3em 40%;
  white-space: pre-wrap;
  padding: 0.5em;
  background: #011f4b;
  border-radius: 0.5em;
  color: white;
}

/* .loading {
  font-size: 30px;
} */

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
